<footer class="footerComponent">
	<div>
		<ul class="footerSocialLinks">
			<li class="navigationLinks navList">
				<a href="https://twitter.com/jasontcrabtree" class="socialLinks">
					<img
						src="/assets/TwitterLogo.svg"
						alt="Twitter"
						class="socialIcons"
					/>
				</a>
			</li>
			<li class="navigationLinks navList ">
				<a href="https://blog.jasontcrabtree.com/feed.xml" class="socialLinks">
					<img src="/assets/RSS.svg" alt="RSS" class="socialIcons" />
				</a>
			</li>
			<li class="navigationLinks navList mainNavRHS">
				<a href="https://dribbble.com/jasontcrabtree" class="socialLinks">
					<img
						src="/assets/DribbleLogo.svg"
						alt="Dribbble"
						class="socialIcons"
					/>
				</a>
			</li>
			<li class="navigationLinks navList github4 gitHubIcon">
				<a href="https://github.com/jasontcrabtree" class="socialLinks">
					<img src="/assets/GitHubLogo.svg" alt="GitHub" class="socialIcons" />
				</a>
			</li>
		</ul>
	</div>
	<div class="footerText">
		Turning coffee & overthinking into blog posts since &copy2019.
		<br />
		Thanks for reading! 💙<a href="http://twitter.com/jasontcrabtree"
			>@jasontcrabtree</a
		>
	</div>
</footer>
