<footer class="footerComponent">
  <div>
    <ul class="footer-social-list--layout">
      <li class="navigationLinks navList">
        <a href="https://twitter.com/jasontcrabtree" class="socialLinks">
          <img
            src="/assets/img/TwitterLogo.svg"
            alt="Twitter"
            class="socialIcons"
          />
        </a>
      </li>
      <li class="navigationLinks navList ">
        <a href="https://blog.jasontcrabtree.com/feed.xml" class="socialLinks">
          <img src="/assets/img/RSS.svg" alt="RSS" class="socialIcons" />
        </a>
      </li>
      <li class="navigationLinks navList mainNavRHS">
        <a href="https://dribbble.com/jasontcrabtree" class="socialLinks">
          <img
            src="/assets/img/DribbleLogo.svg"
            alt="Dribbble"
            class="socialIcons"
          />
        </a>
      </li>
      <li class="navigationLinks navList github4 gitHubIcon">
        <a href="https://github.com/jasontcrabtree" class="socialLinks">
          <img src="/assets/img/GitHubLogo.svg" alt="GitHub" class="socialIcons" />
        </a>
      </li>
    </ul>
  </div>
  <div class="footerText">
    Overthinking blog posts since &copy2019.
    <br />
    Thanks for reading! 💙<a href="http://twitter.com/jasontcrabtree"></a>
      @jasontcrabtree
    </a>
  </div>
</footer>
