<nav class="navigationContainer mainNavigation">
	<a
		class="navigationHomeLink mainNavLHS initialsText"
		href="https://blog.jasontcrabtree.com" aria-label="Homepage Link"
	>
		<span class="homeStyle initialsText">
			JTC
		</span>
	</a>
	<a
		class="navigationHomeLink mainNavLHS"
		href="https://blog.jasontcrabtree.com/"
	>
		<span class="homeStyle">
			<img
				src="/assets/Wordmark.svg"
				alt="Jason Crabtree's Blog"
				class="socialIcons fullWordmark"
			/>
		</span>
	<li class="navigationLinks navList">
		<a href="https://jasontcrabtree.com/projects">
			Projects
		</a>
	</li>
	<li class="navigationLinks navList ">
		<a href="https://blog.jasontcrabtree.com/" class="active-link">
			Blog
		</a>
	</li>
	<!-- <li class="navigationLinks navList">
		<a href="https://jasontcrabtree.com/resume.pdf">
			CV
		</a>
	</li> -->
	<li class="navigationLinks navList ">
		<a href="https://twitter.com/jasontcrabtree" class="socialLinks">
			<img src="/assets/TwitterLogo.svg" alt="Twitter" class="socialIcons" />
		</a>
	</li>
	<li class="navigationLinks navList ">
		<a href="https://blog.jasontcrabtree.com/feed.xml" class="socialLinks">
			<img src="/assets/RSS.svg" alt="RSS" class="socialIcons" />
		</a>
	</li>
	<li class="navigationLinks navList mainNavRHS dribbbleIcon">
		<a href="https://dribbble.com/jasontcrabtree" class="socialLinks">
			<img src="/assets/DribbleLogo.svg" alt="Dribbble" class="socialIcons" />
		</a>
	</li>
	<li class="navigationLinks navList github4 gitHubIcon">
		<a href="https://github.com/jasontcrabtree" class="socialLinks">
			<img src="/assets/GitHubLogo.svg" alt="GitHub" class="socialIcons" />
		</a>
	</li>
</nav>
