<div class="navigationContainer">
	<nav class="mainNavigation">
		<a class="navigationHomeLink mainNavLHS" href="https://jasontcrabtree.com">
			<span class="homeStyle">
				[JC]
			</span>
		</a>
		<li class="navigationLinks navList resume1">
			<a href="https://jasontcrabtree.com/projects">
				Projects
			</a>
		</li>
		<li class="navigationLinks navList resume1">
			<a href="https://blog.jasontcrabtree.com/blog/">
				Blog
			</a>
		</li>
		<li class="navigationLinks navList resume1">
			<a href="https://jasontcrabtree.com/resume.pdf">
				Resume
			</a>
		</li>
		<li class="navigationLinks navList twitter3">
			<a href="https://twitter.com/jasontcrabtree" class="socialLinks">
				<img
					src="/assets/TwitterLogo.svg"
					alt="Twitter logo"
					class="socialIcons"
				/>
			</a>
		</li>
		<li class="navigationLinks navList github4">
			<a href="https://github.com/jasontcrabtree" class="socialLinks">
				<img
					src="/assets/GitHubLogo.svg"
					alt="GitHub logo"
					class="socialIcons"
				/>
			</a>
		</li>
		<li class="navigationLinks navList dribble5 mainNavRHS">
			<a href="https://dribble.com/jasontcrabtree" class="socialLinks">
				<img
					src="/assets/DribbleLogo.svg"
					alt="Dribble logo"
					class="socialIcons"
				/>
			</a>
		</li>
	</nav>
</div>

<!-- <nav>
        {% for item in site.data.navigation %}
          <a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
        {% endfor %}
</nav> -->
