html {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	// font-family: "Poppins", sans-serif;
}

/* Global Styles */
body,
li,
header,
ul {
	margin: 0;
	padding: 0;
}

:root {
	font-size: 16px;

	--body-text: #252525;
	--primary-orange: #ff5f33;
	--primary-blue: #3c3c9f;
	--navigation-offWhite: #fcfcfc;
	--primary-pink: #b55284;
	--low-emphasis-grey: rgba(32, 68, 88);
	--steel-grey: #f7fdff;
	--light-blue-grey: #e3eef1;
}

html {
	background-color: var(--navigation-offWhite);
}

/*------- Media Queries -------*/

/* Mobile phone */
@media screen and (max-width: 500px) {
	.postListItem {
		padding-left: 0;
		margin-left: 19px;
	}

	.socialIcons {
		margin-left: 4px;
		margin-right: 4px;
		height: 20px !important;
	}

	.fullWordmark {
		display: none;
	}

	nav .gitHubIcon {
		display: none;
	}

	.containerMainContent {
		grid-gap: 8px;

		margin-left: 16px;
		margin-right: 16px;

		grid-template-columns: repeat(7, 1fr);
		grid-template-rows: repeat(auto, 64px);
	}

	.mainArticleLayout {
		padding-top: 64px;
		grid-column: 1 / 8;
		column-span: all;
		grid-row-start: 2;
	}

	h1 {
		font-size: 2.4rem;
		padding-left: 0;
		padding-bottom: 1rem;
		margin: 0;
		margin-left: 0;
	}
}

/* Mobile phone & upto 1200px (med size screens) */
@media screen and (min-width: 501px) and (max-width: 1200px) {
	.initialsText {
		display: none !important;
	}

	.containerMainContent {
		display: grid;
		grid-gap: 16px;

		margin-left: 24px;
		margin-right: 24px;

		grid-template-columns: repeat(7, 1fr);
		grid-auto-rows: minmax(24px, auto);
	}

	.mainArticleLayout {
		grid-column: 2 / 7;
		column-span: all;
		grid-row-start: 2;
	}

	nav,
	nav li a {
		font-size: 1.1rem;
	}

	h1 {
		font-size: 3.2rem;
	}
}

/* Screens bigger than 1201px */
@media screen and (min-width: 1201px) {
	.navigationHomeLink {
		width: 60%;
	}

	.initialsText {
		display: none !important;
	}

	.mainNavLHS {
		margin-left: 24px;
	}

	.mainNavRHS {
		margin-right: 24px;
	}

	/* MAIN CONTENT MEDIA FORMATTING */
	.containerMainContent {
		display: grid;
		grid-gap: 24px;
		margin-left: 24px;
		margin-right: 24px;

		grid-template-columns: 0.5fr repeat(5, 1fr) 0.5fr;
		grid-auto-rows: minmax(24px, auto);
	}

	.mainArticleLayout {
		grid-column: 3 / 6;
		grid-row-start: 2;
	}

	nav,
	nav li a {
		font-size: 1.1rem;
	}

	h1 {
		font-size: 3.2rem;
	}
}

h1 {
	padding-top: 2rem;
	padding-left: 0;
	margin-left: 0;
	font-family: "Raleway", sans-serif;
	font-weight: 900;
	margin-block-start: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
	opacity: 0.9;
	color: var(--body-text);
}

h1 {
	color: var(--primary-blue);
}

h2 {
	padding-top: 0;
}

nav li a {
	font-size: 1rem;
}

p,
li,
ul,
strong {
	color: var(--body-text);
	font-size: 1.2rem;
	line-height: 170%;
}

.postPublishDate {
	font-size: 1rem;
	color: var(--low-emphasis-grey);
	margin: -8px 0 -12px 0;
	padding: 0;
}

.homeStyle {
	color: var(--primary-blue);
	font-weight: 700;
}

.extraBlockQuote {
	display: grid;
	color: var(--low-emphasis-grey);
	font-size: 1.4rem;
	background-color: rgb(251, 204, 241);

	padding: 8px 54px;

	grid-column-start: 4;

	grid-column-start: 1;
	column-span: all;
}

/* EVERYTHING TO DO WITH NAVIGATION:
Nav: Nav Bar, Home Icon, Linkbacks, Social, Breadcrumbs */

a:link,
a:visited,
a:active,
.initialsText {
	color: var(--primary-blue);
	text-decoration: none;
}

/* mouse over Navigation link */
a:hover {
	color: var(--primary-orange);
}

/* selected Navigation link */
a.active-link {
	color: var(--primary-blue);
	margin-bottom: -2px;
	border-bottom: #ff5f33 4px solid;
}

.blogPosts {
	margin-top: 48px;
	list-style: none;
	padding: 8px 16px 16px 16px;
	border-top: var(--primary-blue) solid 4px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.blogPosts {
	transition-timing-function: ease-in-out;
	transition: 0.5s;
}

.blogPosts:hover,
.blogPosts:active,
.blogPosts:visited {
	background-color: #fcfcfc;
	transform: scale(1.1);
	border: 1px solid var(--light-blue-grey);
	border-top: var(--primary-orange) solid 8px;
	box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.25);
	margin-bottom: 40px;
}

.navigationContainer {
	position: sticky;
	top: 0;

	padding: 1.5rem 0 1.5rem 0;
	background-color: rgba(255, 255, 255, 0.97);

	z-index: 1;

	box-shadow: 0px 4px 4px rgba(204, 204, 204, 0.9);
}

.mainNavigation {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.mainNavLHS {
	margin-left: 12px;
}

.mainNavRHS {
	margin-right: 12px;
}

.navList,
.initialsText {
	list-style: none;
	display: inline;
}

.navigationLinks {
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	display: flex;
	justify-content: flex-end;
}

.socialIcons {
	/* Place the icon on the text baseline. */
	position: inherit;
	margin-top: 0.25rem;
	flex-shrink: 0;
	/* Scale the icon to match the font-size. */
	height: 24px;
	border-radius: 50%;
}

.fullWordmark {
	border-radius: 0 !important;
}

/*  Footer */

footer {
	grid-column: 3 / 6;
	margin: 4rem 0 5rem 0;
	text-align: center;
	font-size: 1rem;
	line-height: 140%;
	color: var(--primary-blue);
}

.footerComponent {
	display: grid;
}

.footerSocialLinks {
	border-top: 2px solid #e7e7e7;

	display: flex;
	justify-content: space-evenly;
	width: calc(55% + 64px);
	margin: auto;
	padding: 16px 8px;
	padding-bottom: 16px;
}

footer a:link,
footer a:visited,
footer a:active {
	text-decoration: none;
	color: var(--primary-blue);
}

footer a:hover {
	color: var(--primary-pink);
}

/* ARCHIVE
MATERIAL */
.breadCrumbAlignment {
	display: grid;
	align-content: center;
	justify-content: center;
	margin: 0;
	padding: 0;
}

.heroImage {
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;

	width: 100vw;
}

.PageNavigation {
	display: flex;
	// justify-content: space-around;
	justify-content: space-between;
	align-items: center;
	font-size: 1rem;
	margin: 3rem 0 0 0;
}

.breadCrumbNavigation {
	font-size: inherit;
	color: inherit;
	font-weight: bold;
}

.brokenPageHomeLink {
	font-size: 1.1rem;
	font-weight: bold;
	display: grid;
	justify-content: center;
}
